#continer {
  width: 28%;
  margin: 5% auto;
}
#continer button {
  width: 90%;
  height: 40px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}
#continer p {
  color: grey;
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  #continer {
    width: 100%;
  }
}
@media only screen and (min-width: 376px) and (max-width: 768px) {
  #continer {
    width: 55%;
  }
}
